createdAt: "2019-06-25T18:33:57.917Z"
updatedAt: "2019-06-25T19:00:42.944Z"
type: "MARKDOWN_NOTE"
folder: "4bfaf976594ec1b5be18"
title: "SnycBoostNotes"
tags: []
content: '''
  # SnycBoostNotes
  # This repo consists of two directories:
  ```bash
  $ tree
  .
  ├── boostnote.json
  ├── history.json
  └── notes
      ├── ....cson
      ├── ....cson
      └── syncboostnote
          ├── ....md
          ├── ....md
  ```
  - Directory `base`:
    - boostnote.json ``Created by boostnote``
    - history.json ``Created by SyncBoostnote``
    - Directory `notes`:
      - Raw `.cson` files used by BoostNote.
      - Directory `syncboostnote`:
        - `.md` files used display content on Github.
  
  # Index:
  # This following are the documents:
  - [SyncBoostNote](https://github.com/DumbMachine/SyncBoostNoteExample/blob/master/notes/syncboostnote/SyncBoostNote.md)
  - [SnycBoostNotes](https://github.com/DumbMachine/SyncBoostNoteExample/blob/master/notes/syncboostnote/SnycBoostNotes.md)
  - [Stolen Content](https://github.com/DumbMachine/SyncBoostNoteExample/blob/master/notes/syncboostnote/Stolen%20Content.md)
  - [Day: Tuesday  Date: June 18](https://github.com/DumbMachine/SyncBoostNoteExample/blob/master/notes/syncboostnote/Day:%20Tuesday%20%20Date:%20June%2018.md)
  - [Dillinger](https://github.com/DumbMachine/SyncBoostNoteExample/blob/master/notes/syncboostnote/Dillinger.md)
  
  ---
  <sub>This README was generated with ❤ by [SyncBoostnote](https://github.com/DumbMachine/SyncBoostNote) </sub>
'''
linesHighlighted: []
isStarred: false
isTrashed: false
